* {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--sofka-color-gray-100);
  width: 100%;
}

.border-red {
  border: 2px solid var(--sofka-color-red) !important;
}

.container {
  width: 100%;
  margin: 3rem auto;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  .view {
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
  }
}

.container .view {
  .container-form {
    margin: 0 auto;
    background-color: var(--sofka-color-white);
    max-width: 40rem;
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    padding-bottom: 2rem;

    .title {
      font-size: 1.2rem;
      text-align: center;
      padding: 1rem;
      padding-bottom: 0px;
      box-sizing: border-box;
    }

    hr {
      background-color: var(--sofka-color-gray-300) !important;
    }

    form {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      box-sizing: border-box;
    }
  }
}

.opacity-low {
  opacity: 0.5 !important;
}

.container-errors {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  small {
    color: var(--sofka-color-red);
    font-weight: 600;
  }
}

.logo {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--sofka-color-gray-300);
  border-radius: 50% 50%;

  img {
    aspect-ratio: 1;
    border-radius: 50% 50%;
  }
}

.container-filters {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  .form-btn-create {
    max-width: 7rem;
  }
}

.container-search {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    width: 100%;
    max-width: 12rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.4rem;
  }

  button {
    max-width: 7rem;
  }
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
