form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .form-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  box-sizing: border-box;

  label {
    font-weight: 800;
    color: var(--sofka-color-gray-400);
  }

  input {
    padding: 0.7rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    outline: none;
    border: 2px solid var(--sofka-color-gray-300);
    color: var(--sofka-color-gray-400);
    font-weight: 500;
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  form {
    .form-body {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.disabled {
  label {
    opacity: 0.3;
  }

  input {
    border: 1px solid var(--sofka-color-gray-100) !important;
  }
}
