:root {
  --sofka-color-gray-100:  #f1f5f9;
  --sofka-color-gray-200: #cbd5e1;
  --sofka-color-gray-300: #64748b;
  --sofka-color-gray-400: #1e293b;

  --sofka-color-white: #fff;

  --sofka-color-blue: #1e3a8a;

  --sofka-color-yellow: #fde047;

  --sofka-color-red: #ef4444;
}

