@if (products$ | async;) {
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de restructuración</th>
        </tr>
      </thead>
      <tbody>
        @for (item of filteredProducts; track item) {
        <tr>
          <td>
            <div class="logo">
              <img [src]="item.logo" width="!00%" />
            </div>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.date_release }}</td>
          <td>{{ item.date_revision }}</td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5">No hay datos para mostrar</td>
        </tr>
        }
      </tbody>
    </table>

    <form class="table-footer" [formGroup]="form">
      <span
        >{{ filteredProducts.length }}
        @if (filteredProducts.length == 1) { Resultado } @else { Resultados }
      </span>

      <select (change)="onPageSizeChange()" formControlName="size">
        @for(option of optionsSize; track option) {
          <option [value]="option">{{ option }}</option>
        }
      </select>
    </form>
  </div>
  }
