@if (products$ | async;) {
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>
          <div class="table-header-icon">
            Descripción
            <span class="material-symbols-outlined"> info </span>
          </div>
        </th>
        <th>
          <div class="table-header-icon">
            Fecha de liberación
            <span class="material-symbols-outlined"> info </span>
          </div>
        </th>
        <th>
          <div class="table-header-icon">
            Fecha de restructuración
            <span class="material-symbols-outlined"> info </span>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of filteredProducts; track item) {
      <tr>
        <td>
          <div class="logo">
            <img [src]="item.logo" width="!00%" />
          </div>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.date_release | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.date_revision | date : "dd/MM/yyyy" }}</td>
        <td>
          <ng-container *ngTemplateOutlet="TDropdown; context: { product: item }" />
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5">No hay datos para mostrar</td>
      </tr>
      }
    </tbody>
  </table>

  <ng-container *ngTemplateOutlet="TPaginate" />
</div>
}

<ng-template #TPaginate>
  <form class="table-footer" [formGroup]="form">
    <span
      >{{ filteredProducts.length }}
      @if (filteredProducts.length == 1) { Resultado } @else { Resultados }
    </span>

    <select (change)="onPageSizeChange()" formControlName="size">
      @for(option of optionsSize; track option) {
      <option [value]="option">{{ option }}</option>
      }
    </select>
  </form>
</ng-template>

<ng-template #TDropdown let-product="product">
  <div class="table-actions">
    <button class="form-btn btn-action" (click)="viewMenuContextual(product)">
      <span class="material-symbols-outlined"> more_vert </span>
    </button>

    <div class="table-option-menu" [ngClass]="{ hidden: !product.action }">
      <span class="form-btn-small" [routerLink]="['/products', 'edit', product.id]"
        >Editar</span
      >
    </div>
  </div>
</ng-template>
